#### Web Scraping on CARS24

In [2]:
link = 'https://www.cars24.com/buy-used-cars-hyderabad/'
print(link)

https://www.cars24.com/buy-used-cars-hyderabad/

In [3]:
import requests

In [4]:
page = requests.get(link)

In [5]:
page.status_code

200

In [6]:
from bs4 import BeautifulSoup as bs

In [7]:
page_html = bs(page.content,'html.parser')

In [9]:
cars = page_html.find_all('div',{'class':'_7jb8Q _1Ey60'})

In [10]:
len(cars)

20

In [11]:
pip install selenium

Requirement already satisfied: selenium in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (4.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: websocket-client~=1.8 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: idna in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from trio~=0.17->selenium) (1.17.1)
Requirement already satisfied: exceptiongroup in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from trio~=0.17->selenium) (1.2.2)
Requirement already satisfied: outcome in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.22)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 24.2 is available.
You should consider upgrading via the 'c:\Users\Hp\AppData\Local\Programs\Python\Python38\python.exe -m pip install --upgrade pip' command.

In [12]:
from selenium import webdriver

In [13]:
import time

In [14]:
browser = webdriver.Edge()
browser.get(link)
time.sleep(3)

ini_height = browser.execute_script('return document.body.scrollHeight')
print(ini_height)

#browser.execute_script('window.scroll(0,9000);')

#ini_height = browser.execute_script('return document.body.scrollHeight')
#print(ini_height)

while True:
    browser.execute_script('window.scroll(0,9000);')
    time.sleep(3)
    
    new_height = browser.execute_script('return document.body.scrollHeight')
    
    if (new_height==ini_height):
        break
    ini_height=new_height
    time.sleep(3)
    
html = browser.page_source

browser.quit()

11640

In [15]:
new_height

60622

In [16]:
page_html = bs(html,'html.parser')

In [17]:
cars = page_html.find_all('div',{'class':'_7jb8Q _1Ey60'})

In [18]:
len(cars)

525

In [19]:
car=cars[0]

In [20]:
print(car.prettify())

<div class="_7jb8Q _1Ey60">
 <h3 class="_2Out2">
  2015 Hyundai Xcent
  <!-- -->
  <span>
   S 1.2
  </span>
 </h3>
 <ul class="_3jRcd">
  <li class="_2Fm8o">
   Reg. serviced
  </li>
  <li>
   25,539 km
  </li>
  <li>
   Petrol
  </li>
  <li>
   1st owner
  </li>
 </ul>
 <div class="_1Oul-">
  <span class="_1t1AA">
   <!-- -->
   EMI from ₹8,292/m
  </span>
 </div>
 <div class="_1Oul- VMjdr">
  <strong class="_37WXy">
   ₹4.24L
  </strong>
 </div>
 <div class="NH4Dw">
 </div>
 <p class="_2rxhF">
  Free Test Drive
  <!-- -->
  Tomorrow
  <!-- -->
  <span>
   <!-- -->
   at
   <!-- -->
   <!-- -->
   Attapur, Hyderabad
   <!-- -->
  </span>
 </p>
</div>

In [21]:
name=car.find('h3').get_text()

In [22]:
name

'2015 Hyundai Xcent S 1.2'

In [23]:
year_manu = name.split()[0]

In [24]:
year_manu

'2015'

In [25]:
year_manu = name.split()[0]
brand = name.split()[1]
name = ' '.join(name.split()[1:])

In [26]:
year_manu,brand,name

('2015', 'Hyundai', 'Hyundai Xcent S 1.2')

In [27]:
ul = car.find('ul')

In [28]:
ul

In [29]:
lists = ul.find_all('li')

In [30]:
lists

[<li class="_2Fm8o">Reg. serviced</li>,
 <li>25,539 km</li>,
 <li>Petrol</li>,
 <li>1st owner</li>]

In [31]:
len(lists)

4

In [32]:
km_tra = lists[1].get_text()
fuel = lists[2].get_text()
owner_type = lists[3].get_text()

In [33]:
km_tra,fuel,owner_type

('25,539 km', 'Petrol', '1st owner')

In [34]:
price = car.find('strong').get_text()

In [35]:
price

'₹4.24L'

In [36]:
year_manu_list=[]
brand_list=[]
name_list=[]
km_tra_list=[]
fuel_list=[]
owner_type_list=[]
price_list=[]

In [37]:
for i in cars:
    name=i.find('h3').get_text()
    year_manu = name.split()[0]
    brand = name.split()[1]
    name = ' '.join(name.split()[1:])
    ul = i.find('ul')
    lists = ul.find_all('li')
    if len(lists)==3:
        continue
    else:
        km_tra = lists[1].get_text()    
        fuel = lists[2].get_text()  
        owner_type = lists[3].get_text()  
        price = i.find('strong').get_text()
    
    year_manu_list.append(year_manu)
    brand_list.append(brand)
    name_list.append(name)
    km_tra_list.append(km_tra)
    fuel_list.append(fuel)
    owner_type_list.append(owner_type)
    price_list.append(price)

In [38]:
len(lists)

4

In [39]:
name_list[:5]

['Hyundai Xcent S 1.2',
 'Hyundai Elite i20 ASTA 1.2',
 'Maruti Grand Vitara DELTA SMART HYBRID',
 'Tata Tiago XZA PETROL',
 'Maruti Ertiga VXI AT SHVS']

In [40]:
import pandas as pd

In [41]:
dataset = pd.DataFrame({'Name': name_list,
                        'Brand Name':brand_list,
                        'Year of Manufacture':year_manu,
                        'Distance Traveled':km_tra_list,
                        'Fuel Type':fuel_list,
                        'Owner Type':owner_type_list,
                        'Price':price_list})

In [42]:
dataset

,Name,Brand Name,Year of Manufacture,Distance Traveled,Fuel Type,Owner Type,Price
0,Hyundai Xcent S 1.2,Hyundai,2017,"25,539 km",Petrol,1st owner,₹4.24L
1,Hyundai Elite i20 ASTA 1.2,Hyundai,2017,"63,318 km",Petrol,2nd owner,₹6.11L
2,Maruti Grand Vitara DELTA SMART HYBRID,Maruti,2017,"28,842 km",Petrol,1st owner,₹12.33L
3,Tata Tiago XZA PETROL,Tata,2017,"41,772 km",Petrol,2nd owner,₹4.85L
4,Maruti Ertiga VXI AT SHVS,Maruti,2017,"35,378 km",Petrol,1st owner,₹10.84L
...,...,...,...,...,...,...,...
515,Maruti Baleno DELTA PETROL 1.2,Maruti,2017,"41,113 km",Petrol,1st owner,₹6.86L
516,Honda Amaze 1.2L I-VTEC VX,Honda,2017,"49,073 km",Petrol,1st owner,₹6.38L
517,Maruti Dzire ZDI PLUS,Maruti,2017,"90,164 km",Diesel,1st owner,₹7.18L
518,Maruti Ertiga ZXI+ SHVS,Maruti,2017,"41,284 km",Petrol,2nd owner,₹8.90L
519,Maruti Baleno DELTA PETROL 1.2,Maruti,2017,"45,551 km",Petrol,1st owner,₹5.58L

In [43]:
dataset.to_csv('car24.csv',index=False)